:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --btn-background: #f4f4fd;
  --light-color: #e7e9fc;
  --logo-primary: #4d5ae5;
  --btn-pressed: #404bbf;
  --white: #ffffff;
}

body {
  color: var(--color-secondary);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

/* .header */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.03em;
}

.logo-begin {
  color: var(--logo-primary);
}

.logo-end-header {
  color: var(--color-primary);
}

.site-nav .link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-primary);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--btn-pressed);
}

.contact-nav .link {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--btn-pressed);
}

/* .section 1 */


.hero {
  background-color: var(--color-primary);
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
}

.main-button {
  color: var(--white);
  background-color: var(--logo-primary);
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--btn-pressed);
}

/* .sections */

.container {
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features-list {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-primary);
}

.descr {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-secondary);
}

.section-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-primary);
}

.team-list {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-primary);
}

/* .footer */

.footer {
  background-color: var(--color-primary);
}

.logo-end {
  color: var(--white);
}

.footer-text {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
}

/* .portfolio */

.filter-btn {
  color: var(--logo-primary);
  background-color: var(--btn-background);
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.filter-btn:hover,
.filter.btn:focus {
  color: var(--white);
  background-color: var(--btn-pressed);
}

.portfolio-list {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-primary);
}

.portfolio .link {
  text-decoration: none;
}
