:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --btn-background: #f4f4fd;
  --light-color: #e7e9fc;
  --logo-primary: #4d5ae5;
  --btn-pressed: #404bbf;
  --white: #ffffff;
}

body {
  color: var(--color-secondary);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

/* .header */

.header-div {
  display: flex;
  align-items: center;

  height: 72px;
}

.main-nav {
  display: flex;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.03em;
}

.logo-begin {
  color: var(--logo-primary);
}

.logo-end-header {
  color: var(--color-primary);
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .item {
  margin-right: 40px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;

  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--btn-pressed);
}

.main-address {
  display: flex;
  margin-left: auto;
}

.contact-nav .link {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
}

.contact-nav {
  display: flex;
}

.contact-nav .item + .item {
  margin-left: 40px;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--btn-pressed);
}

/* .section 1 */

.hero {
  background-color: var(--color-primary);
  height: 600px;
  margin-bottom: 48px;
  text-align: center;
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  line-height: 1.1;
}

.main-button {
  color: var(--white);
  background-color: var(--logo-primary);
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--btn-pressed);
}

/* .sections */

.section {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features {
display: flex;
}

.features .item {
  margin-right: 24px;
}

.features .item:last-child {
  margin-right: 0;
}

.features-list {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-primary);
}

.descr {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-secondary);
}

.section-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-primary);
}

.works {
  display: flex;
}

.works .item {
  margin-right: 24px;
}

.works .item:last-child {
  margin-right: 0;
}

.team {
  display: flex;
}

.team .item {
  margin-right: 24px;
}

.team .item:last-child {
  margin-right: 0;
}

.team-list {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-primary);
}

/* .footer */

.footer {
  background-color: var(--color-primary);
}

.logo-end {
  color: var(--white);
}

.footer-text {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
}

/* .portfolio */

.filter-btn {
  color: var(--logo-primary);
  background-color: var(--btn-background);
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.filter-btn:hover,
.filter.btn:focus {
  color: var(--white);
  background-color: var(--btn-pressed);
}

.portfolio-list {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-primary);
}

.portfolio .link {
  text-decoration: none;
}
